button {
    background: transparent;
	padding: 10px;
	margin: 20px auto 30px;
	border-radius: 5px;
	border: 2px solid#92A4A5; 
	color: #FF4400;
	font-weight: bold;
    &:hover {
        cursor: pointer;
    }
}

.card {
    margin-bottom: 30px;
    border: 2px sold #92A4A5;
} 

.edit-link {
	color: #FF4400;
	font-weight: bold;
	font-size: 15px;
	&:hover {
		text-decoration: none;
	}
}

h5 {
	font-weight: bold;
}
.orange {
	color: #FF4400;
}

label {
    font-weight: bold;
    font-size: 15px;
}